.footer_outer_continar{
   background-color: rgb(54, 49, 49);
    color: gray;
    display: flex;
    justify-content: center;
}
.footer_inner_container{
    width: 60%;
}
.footer_icons{
     width: 12%;
    display: flex;
    justify-content: space-between;
     margin-left: 10px;
     color: #fff;
}
.footer_data{
    display: flex;
    justify-content: space-between;
}

.footer_data ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
}
.footer_data ul li{
    cursor: pointer;
}
.service_code{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 13%;
    margin: 10px 0;
    cursor: pointer;
}
.copy_write{
    font-size: 18px;
    margin-bottom: 10px;
}